html, body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin: 0.5rem;
}

h1, h2, footer {
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
}