header a, .similar-shirts a {
  text-decoration: none;
  color: inherit;
}

h3 {
  text-align: center;
}

ul {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

img {
  width: 700px;
}

.shirt {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.shirt > div {
  margin: 0 auto;
  width: 45%;
  min-width: min(700px, 100%);
}

.share-block {
  max-width: 700px;
}

.similar-shirts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.similar-shirts div {
  width: max(300px, 50%);
  max-width: 100%;
}

.similar-shirts img {
  width: 175px;
}